.form {
    display: flex;
    width: 90%;
    height: 100%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

.text {
    width: 50%;
    margin-top: 5%;
}

.text h1 {
    width: 80%;
    font-size: 36px;
    font-weight: 700;
}

.text p {
    width: 80%;
    margin-top: 20px;
}

.textform {
    width: 50%;
}

.textform h2 {
    text-align: center;
    font-size: 22px;
}

.textform .formbackground {
    background-color: #333;
    width: 100%;
    height: auto;
    margin-top: 5%;
    border-radius: 20px;
}

.textform .formulario {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5%;
}

.textform .formulario p {
    margin-top: 5%;
    flex: 1;
}

.textform .formulario input {
    width: 70%;
    height: 40px;
    border: 1px solid #555;
    outline: none;
    color: #333;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    font-weight: 700;
    margin-top: 5%;
    background-color: #555;
}

.formbackground button {
    width: 30%;
    font-weight: 700;
    padding: 20px 5px;
    border: 0;
    border-radius: 10px;
    margin-top: 30px;
    transform: translateX(218%);
    margin-bottom: 5%;
}

@media (max-width: 800px) {
    .form {
        flex-direction: column;
        margin-bottom: 10%;
    }
    .text {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        text-align: center;
    }
    .text h1 {
        font-size: 22px;
    }
    .text p {
        font-size: 16px;
    }
    .textform {
        width: 100%;
        margin-top: 10%;
    }
    .textform .formulario {
        flex-direction: column;
    }
    .textform .formulario p {
        font-size: 16px;
    }
    .textform .formulario input {
        width: 100%;
    }
    .formbackground .button {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .formbackground button {
        width: 90%;
        transform: translateX(0);
    }
}

