.itemgrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 70px;
    margin: 5%;
}

.test {
    background-color: #333;
    border-radius: 10px;
    text-align: center;
}

.text {
    padding: 30px
}

.text h1 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10%;
}

.text span {
    margin-right: 15px;
}

.text p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 15px;
    text-align: left;
}

.itemgrid img {
    width: 20%;
    margin-top: 30px;
    object-fit: cover;
}

@media (max-width: 800px) {
    .itemgrid {
        grid-template-columns: repeat(1, 1fr);
    }
}