.bgarea {
    width: 100%;
    height: 100vh;
}

.bgimage {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 100vh; 
    background: linear-gradient(rgba(17, 17, 17, 0.8), rgba(0, 0, 0, 0.8)), url('/banner-blog.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(100%);  
}

.bgtext {
    display: flex;
    flex-direction: column;
}

.bgtext h1 {
    font-size: 48px;
    margin-bottom: 30px;
}

.bgtext p {
    font-size: 24px;
    line-height: 24px;
}