.bgarea {
    width: 100%;
    height: 100vh;
}

.bgimage {
    background: linear-gradient(rgba(17, 17, 17, 0.8), rgba(0, 0, 0, 0.8)), url('/banner-sobre.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: inherit;
    filter: grayscale(100%);  
    height: 100%;
}

.bgtext {
    display: flex;
    flex-direction: column;
    padding: 0 10%;
}

.bgtext h1 {
    font-size: 48px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.bgtext h2 {
    font-size: 18px;
    width: 30%;
    margin-bottom: 30px;
    line-height: 24px;
}

.bgtext .button {
    margin-bottom: 30px;
}
